<html>
    <head>
        <title th:text=${appName}></title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <link rel="stylesheet" th:href="@{/css/style.css}" />
    </head>
    <body>
        <header>
            <div id="header">
                <h2>
                    Witaj w <span th:text=${appName}></span>
                </h2>
            </div>
        </header>
    <center>
        <div id="mainbody">
            <center>
                <h2>Zarządzanie koszykami</h2>
                <table>
                    <tr>
                        <td width="300">
                            <h3>
                                Obecnie posiadasz koszyki
                            </h3>
                        </td>
                        <td width="300">
                            <h3>
                                Dodaj nowy koszyk
                            </h3>
                        </td>
                    </tr>
                    <tr>
                        <td width="300">
                            <ul>
                                <li th:each="cart : ${carts}">
                                    <a th:href="@{/getcart?name=} + ${cart.name}" th:text="${cart.name}"></a>
                                </li>
                            </ul>
                        </td>
                        <td width="300">
                            <form action="#" th:action="@{/stworz_koszyk}" th:object="${addcartform}" method="post">
                                <table border="0" cellpadding="10">
                                    <tr>
                                        <td>Nazwa koszyka:</td>
                                        <td><input type="text" th:field="*{name}"/></td>
                                    </tr>
                                    <tr>
                                        <td>Przeznaczenie koszyka:</td>
                                        <td><input type="text" th:field="*{desc}"/></td>
                                    </tr>
                                    <tr>
                                        <td colspan="2"><center><button type="submit">Utwórz koszyk</button></center></td>
                                    </tr>
                                </table>
                            </form>
                        </td>
                    </tr>
                </table>
                <h4 id="return">Wróć do <a th:href="@{/}">strony głównej</a></h4>
            </center>
        </div>
    </center>
    <footer>
        <div id="footer">
            Wykonanie 2023 Anna Drobek & Radosław Biereta
        </div>
    </footer>
</body>
</html>