<html>
    <head>
        <title th:text=${appName}></title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <link rel="stylesheet" th:href="@{/css/style.css}" />
    </head>
    <body>
        <header>
            <div id="header">
                <h2>
                    Witaj w <span th:text=${appName}></span>
                </h2>
            </div>
        </header>
        <div id="mainbody">
            <h4>Kliknij w link aby usunąć koszyk</h4>
            <center>
                <table>
                    <tr th:each="cart : ${carts}">
                        <td><a th:href="@{/usun_koszyk?name=} + ${cart.name}" th:text="${cart.name}"></a></td>
                    </tr>
                </table>
            </center>
            <h4 id="return">Wróć do <a th:href="@{/}">strony głównej</a></h4>
        </div>
        <footer>
            <div id="footer">
                Wykonanie 2023 Anna Drobek & Radosław Biereta
            </div>
        </footer>
    </body>
</html>