<html>
    <head>
        <title th:text=${appName}></title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <link rel="stylesheet" th:href="@{/css/style.css}" />
    </head>
    <body>
        <header>
            <div id="header">
                <h2>
                    Witaj w <span th:text=${appName}></span>
                </h2>
            </div>
        </header>
        <div id="mainbody">
            <h3>
                Witaj <span style="color:red;" th:text=${user}></span>
            </h3>
            <br>
            <center>
                <table>
                    <tr>
                        <td id="tdmarginright" width="300">
                    <center>
                        <h4>
                            Kliknij aby tworzyć koszyk/dodawać do koszyka
                        </h4>
                    </center>
                    </td>
                    <td id="tdmarginleft" width="300">
                    <center>
                        <h4>
                            Kliknij aby usunąć koszyk z listy koszyków
                        </h4>
                    </center>
                    </td>
                    <td id="tdmarginleft" width="300">
                    <center>
                        <h4>
                            Kliknij aby edytować swojego użytkownika
                        </h4>
                    </center>
                    </td>
                    </tr>
                    <tr>
                        <td id="tdmarginright">
                    <center>
                        <a th:href="@{/addcart}"><img th:src="@{/images/add-icon.png}" id="add" alt="add"></a>
                    </center>
                    </td>
                    <td id="tdmarginleft">
                    <center>
                        <a th:href="@{/removecart}"><img th:src="@{/images/remove-icon.png}" id="remove" alt="remove"></a>
                    </center>
                    </td>
                    <td id="tdmarginleft">
                    <center>
                        <a th:href="@{/edituser}"><img th:src="@{/images/user-icon.png}" width="150" id="edit" alt="edit"></a>
                    </center>
                    </td>
                    </tr>
                </table>
            </center>
            <h4 id="return">Wróć do <a th:href="@{/}">strony głównej</a></h4>
            <br><br>
        </div>
        <footer>
            <div id="footer">
                Wykonanie 2023 Anna Drobek & Radosław Biereta
            </div>
        </footer>
    </body>
</html>